html, body {
    margin:0.5 rem;
    color: #535353;
}


header {
  background-color: white;
  color: black;
  height:60px;
  width:100%;
  position:relative;
  z-index: 10;
}


.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: inherit;
}



#logo {
  width: 70px;
  top: 10px;
  margin-left: 1%;
}


#menu { 
  float:right;
  margin-right: 5%;
  list-style: none;
  color: green;
}


#conteudo {
  width:90%;
  line-height: 40px;
  margin-top: 10px;
}

#youtube {
  line-height: 40px;
  margin-top: 10px;
}

#mapa {
  float: left;
  padding-left: 35%;
}

#natura {
  width:30%;
  line-height: 40px;
  margin-top: 30px;
  padding-left: 15%;
}


#ecopontos {
  line-height: 40px;
  margin-top: 10px;
}


#sobre_mim {
  line-height: 40px;
  margin-top: 10px;
}


  .site {
    padding-left: 10%;
    padding-right: 10%;
    background: url("imagens/fundo.jpg");
    height: 100%;
    background-image: cover;
  }


  .topo {
    background: url("imagens/peixinhos.jpg");
    border-radius: 10px:;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    margin: 0px;
    font: bold; 
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }


  .btn {
    color: brown;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
  }


.btn:hover {
   background-color: aquamarine;
}


.conteudo {
  padding: 10px;
  padding-left: 30px;
  margin: 50px;
  font: bold; 
  color: black;
}


.destaque {
  background-color: greenyellow;
}

.destaque1 {
  background-color: greenyellow;
}

.destaque3 {
  background-color:  #D3D3D3;
}


#decomposicao {
  margin-top: 10px;
  background-color: #D3D3D3;
}


.colunadefault {
  float: left;
  padding: 0 1%;
  position: relative;  
  line-height: 40px;
}


.coluna1 {
  width: 40%;
}


.coluna2 {
  width: 30%;
 
}


.coluna3 {
  width: 30%;
}


.justificado {
  text-align: justify;
}


.centralizado {
  text-align: center;
}


  .img {
    width: 10%;
    padding: 10px;
    padding-top: 10%;
    align-items: left;
    margin-top: 10px;
  }

  .img2 {
    width: 40%;
    padding-top: 10%;
  }


section { 
  padding: 20px;
  float: left;
  
}


li {
  float: left;
  padding: 10px;
}


li:hover {
  background-color: white;
}


footer {
    width: 90%;
    text-align: center;
    float: left;
    margin-top: 30px;
}


@media screen and (min-width: 768px) { 
  .topo {
          }
  .conteudo {
  }
}